@import url('https://fonts.googleapis.com/css2?family=Sarabun:wght@100;400&display=swap');
html, body {
  background-color: rgb(250,246,230);
  font-family: 'Sarabun', sans-serif;
}

input, textarea {
  text-align: center;
  border-radius: 5px;
  border: 1px solid grey;
  background-color: rgba(167, 111, 111, 0.09);
}

.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

.shopify-img{
  max-width: 200px;
  max-height: 200px;
}

#shop {
  width: 30%;
  border-radius: 5px;
  color: black;
  border: 1px transparent grey;
  background-color: rgb(201, 189, 24);
  margin-bottom: 10px;
  font-weight: bold;
  padding: 5px;
}

#shop:hover {
  text-decoration: none;
}


.Product {
  padding: 10px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
}

#footer-email {
  background-color: white;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

#contact-form{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  align-content: center;
}

#submit-button{
  background-color:rgb(201, 189, 24);
  border: none;
  border-radius: 5px;
  color: white;
  font-weight: bold;
}

.vertical {
  border-left: 1px solid grey;
  height: 50px;

}

navbar {
  color: white;
}

a {
  color: grey;
}

.navbar {
  align-items: center;
  align-content: center;
  text-align: center;
  background-color: rgb(155, 40, 42);
  color: white;
}

.contact-info {
  padding: 10px;
}

.footer {
  align-items: center;
  align-content: center;
  text-align: center;
  background-color: rgb(155, 40, 42);
  color: white;
}

.header {
  display: flex;
  align-content: center;
  align-items: center;
}

.homepage{
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
  margin: 0;
}

.home-pics{
  display: flex;
  justify-content: center;
}

@media(max-width: 1000px){
  .home-pics img{
    max-width: 700px
  }
}

@media(max-width: 854px){
  .home-pics img{
    max-width: 500px;
  }
  #adam{
    max-width: 500px;
  }
  .article{
    display: flex;
    flex-direction: column;
    align-items: center;
  }
}
