@import url('https://fonts.googleapis.com/css2?family=Sarabun:wght@100;400&display=swap');
html, body {
  background-color: rgb(250,246,230);
  font-family: 'Sarabun', sans-serif;
}

input, textarea {
  text-align: center;
  border-radius: 5px;
  border: 1px solid grey;
  background-color: rgba(167, 111, 111, 0.09);
}

.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

.shopify-img{
  max-width: 200px;
  max-height: 200px;
}

#shop {
  width: 30%;
  border-radius: 5px;
  color: black;
  border: 1px transparent grey;
  background-color: rgb(201, 189, 24);
  margin-bottom: 10px;
  font-weight: bold;
  padding: 5px;
}

#latestDownload{
  cursor: pointer;
  display: inline-block;  
  height: 40px;
  margin-left: 40px;
  margin-right: 40px;
  position: relative;
  line-height: 2.5em;
  padding-left: 1em;
  padding-right: 2em;
  background: rgb(201, 189, 24);
  color: black;
}

#latestDownload:after{
  border-right: 20px solid rgb(201, 189, 24);
  content: "";
  position: absolute;
  border-bottom: 20px solid transparent;
  border-top: 20px solid transparent;
  height: 0px;
  width: 0px;
  margin-left: -20px;
  left: 0; 
}

#latestDownload:hover, #latestDownload:active {
  background: rgb(201, 189, 24);
  color: black;
  text-decoration: none;
  font-weight: bolder;
}

#latestDownload:hover:after, #latestDownload:active:after{
  border-right: 20px solid rgb(201, 189, 24);
}

#shop:hover, #submit-button:hover, #advertiseButton:hover {
  text-decoration: none;
  box-shadow: rgba(0, 0, 0, 0.25) 0px 54px 55px, rgba(0, 0, 0, 0.12) 0px -12px 30px, rgba(0, 0, 0, 0.12) 0px 4px 6px, rgba(0, 0, 0, 0.17) 0px 12px 13px, rgba(0, 0, 0, 0.09) 0px -3px 5px;
}

#directoryHeader{
  display: flex;
  list-style: none;
  justify-content: space-around;
}

#directoryHeader li:hover{
  font-weight: bold;
  cursor: pointer;
}

#buffalo-full {
  border-radius: 3px;
  box-shadow: rgba(0, 0, 0, 0.25) 0px 54px 55px, rgba(0, 0, 0, 0.12) 0px -12px 30px, rgba(0, 0, 0, 0.12) 0px 4px 6px, rgba(0, 0, 0, 0.17) 0px 12px 13px, rgba(0, 0, 0, 0.09) 0px -3px 5px;
}

.mag {
  overflow: hidden;
}

#advertiseWords, .home-mag {
  background-image: url(./images/advertise-background.jpg);
}
.download {
  background-color: rgb(155, 40, 42);
  border-radius: 5px;
  margin: 10px;
  padding: 2px 10px;
  color: rgb(32, 32, 32);
}

.download:hover{
  text-decoration: none;
  color: rgb(32, 32, 32);
  box-shadow: rgba(0, 0, 0, 0.25) 0px 54px 55px, rgba(0, 0, 0, 0.12) 0px -12px 30px, rgba(0, 0, 0, 0.12) 0px 4px 6px, rgba(0, 0, 0, 0.17) 0px 12px 13px, rgba(0, 0, 0, 0.09) 0px -3px 5px;
}

.bannerItem{
  padding: 2px 5px;
  margin-bottom: 5px;
}

.Product {
  padding: 10px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
}

#footer-email {
  background-color: white;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.instaPic {
  position: relative;
  top: 0px;
  left: 0px;
  width: 350px;
  height: 350px;
  overflow: hidden;
  text-align: center;
  padding: 10px;
}

.instapic:hover a, .instaPic:hover img{
  filter: blur(4px);
  text-decoration: none;
  transform: none;
}

.instaPic p {
  /* filter: blur(0) !important; */
  height: 100px;
  position: relative;
  display: inline-block;
  color: rgb(32, 32, 32);
  font-size: .7rem;
  line-height: 10px;
  vertical-align: middle;
  text-align: center;
  top: -70%;
  bottom: 0;
  left: 0;
  right: 0;
  z-index: 1;
  /* overflow: none; */
  text-decoration: none;
}


#contact-form{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  align-content: center;
}

#adpic img {
  max-height: 100%;
  min-width: 100%;
  object-fit: cover;
  vertical-align: bottom;
}

#submit-button{
  background-color:rgb(201, 189, 24);
  border: none;
  border-radius: 5px;
  color: white;
  font-weight: bold;
}

.magYear{
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  align-content: center;
}

.magYear img{
  padding: 10px;
}

.magYear a:hover{
  box-shadow: rgba(0, 0, 0, 0.25) 0px 54px 55px, rgba(0, 0, 0, 0.12) 0px -12px 30px, rgba(0, 0, 0, 0.12) 0px 4px 6px, rgba(0, 0, 0, 0.17) 0px 12px 13px, rgba(0, 0, 0, 0.09) 0px -3px 5px;
}


#advertiseButton{
  background-color:rgb(201, 189, 24);
  border: none;
  border-radius: 5px;
  color: white;
  font-weight: bold;
  font-size: larger;
  margin: 15px;
  padding: 5px 20px;
  font-stretch: expanded;
  width: 200px;
}

.vertical {
  border-left: 1px solid grey;
  height: 50px;

}

navbar {
  color: white;
}

a {
  color: grey;
}

#rateCardBanner {
  background-color: rgb(209, 181, 181);
}

.navbar {
  align-items: center;
  align-content: center;
  border-radius: 5px 5px 0 0;
  text-align: center;
  background-color: rgb(155, 40, 42);
  color: white;
}

.contact-info {
  padding: 10px;
}

.title {
  font-weight: bold;
  text-decoration: underline;
}

.footer {
  align-items: center;
  align-content: center;
  text-align: center;
  border-radius: 0 0 5px 5px;
  background-color: rgb(155, 40, 42);
  color: white;
}

.header {
  display: flex;
  align-content: center;
  align-items: center;
}

.homepage{
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
  margin: 0;
}

.article h6 {
  color: rgb(155, 40, 42);
  font-weight: bold;
}

.home-pics{
  display: flex;
  justify-content: center;
}

@media(max-width: 1000px){
  .home-pics img{
    max-width: 700px
  }

  .instaPic {
    position: relative;
    top: 0px;
    left: 0px;
    width: 250px;
    height: 250px;
    overflow: hidden;
    text-align: center;
    padding: 10px;
  }
  
  .instapic:hover a, .instaPic:hover img{
    filter: blur(4px);
    text-decoration: none;
    transform: none;
  }
  
  .instaPic p {
    /* filter: blur(0) !important; */
    height: 100px;
    position: relative;
    display: inline-block;
    color: white;
    font-size: .7rem;
    line-height: 10px;
    vertical-align: middle;
    text-align: center;
    top: -70%;
    bottom: 0;
    left: 0;
    right: 0;
    z-index: 1;
    /* overflow: none; */
    text-decoration: none;
  }
}

@media(max-width: 854px){

  .instaPic {
    position: relative;
    top: 0px;
    left: 0px;
    width: 200px;
    height: 200px;
    overflow: hidden;
    text-align: center;
    padding: 5px;
  }
  
  .instapic:hover a, .instaPic:hover img{
    filter: blur(4px);
    text-decoration: none;
    transform: none;
  }
  
  .instaPic p {
    /* filter: blur(0) !important; */
    height: 50px;
    position: relative;
    display: inline-block;
    color: white;
    font-size: .7rem;
    line-height: 10px;
    vertical-align: middle;
    text-align: center;
    top: -70%;
    bottom: 0;
    left: 0;
    right: 0;
    z-index: 1;
    /* overflow: none; */
    text-decoration: none;
  }

  .home-pics img{
    max-width: 500px;
  }
  #adam{
    max-width: 500px;
  }
  .article{
    display: flex;
    flex-direction: column;
    align-items: center;
  }
}
